resources/biblioteka.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="biblioteka">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="knjiga"
                    type="tipKnjige"
                    minOccurs="0"
                    maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="tipKnjige">
        <xs:sequence>
            <xs:element name="naslov" type="xs:string"/>
            <xs:element name="autor" type="xs:string"/>
            <xs:element name="godina" type="xs:gYear"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

</xs:schema>
